h2 {
    margin: 50px 100px;
    padding: 15px;
    background: red;
}

h3 {
    text-align: center;
}

h5 {
    text-align: justify;
    width: auto;
}

.he3{
    text-align: center;
    color: red;
    background-color: black;
    padding: 10px;
}

.drinks {
    text-align: center;
}

.wings {
    text-align: center;
}

.dry {
    text-align: center;
}

.others {
    text-align: center;
}

.dessert {
    text-align: center;
}
   
body {
  margin: 0;
}

.header {
  background-color: #F3F3F3;
  display: flex;
  align-items: baseline;
  padding: .5rem;
  gap: 1rem;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.dropdown.active > .link, link:hover {
    color: black;
}

.link:hover {
    color: black;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top:calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    transform: translate(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

.apps {
    text-align: center;
}

.party {
    text-align: center;
    background-image: url("../images/confetti.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer {
    color:white;
    background-color: black;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    background-position: center;
    height: 500px;
    width: 600px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
}

